{% sw_extends '@Storefront/storefront/section/cms-section-sidebar.html.twig' %}

{% block section_sidebar_content %}
    <div class="cms-section-sidebar-sidebar-content col-lg-4 col-xl-3">

        {% for block in sidebarBlocks %}
            {% block section_sidebar_content_block %}
                {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" %}
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}

{% block section_main_content %}
    <div class="cms-section-sidebar-main-content col-lg-7 offset-lg-1 col-xl-8">

        {% for block in mainContentBlocks %}
            {% block section_main_content_block %}
                {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" %}
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}
