.container {
    @if (feature('V6_5_0_0')) {

    } @else {
        @include make-container-max-widths();
    }
    &.flashbags:not(:empty) {
        padding-top: 20px;
    }

    &-main {
        padding-top: 0;
    }
}

@include media-breakpoint-up(lg) {
    .is-ctl-product {
        .container,
        .cms-section .boxed {
            max-width: 1591px;
        }
    }
}
