/*
 * Header
 * ---------- */

.header {
    &-main {
        background-color: $secondary;
        position: relative;

        @include media-breakpoint-up(lg) {
            .collapse {
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    box-shadow: -6px 1px 14px 6px $secondary;
                }
            }
        }
    }

    &-search {
        margin: 0 0 0 auto;

        .header-search-btn {
            padding-top: 0;
            padding-bottom: 0;
        }

        .header-search-input:focus + .header-search-btn {
            background-color: transparent;
            border-color: $primary;
        }

        .header-search-input:focus + .header-search-btn {
            background-color: transparent;
            border-color: $primary;
        }

        .header-search-form {
            .header-search-input,
            .header-search-input:focus,
            .header-search-btn {
                border-color: $gray-500;
                color: $white;
                background-color: transparent;
            }

            .header-search-input:focus {
                border-color: $primary;
            }

            .icon {
                color: $white;
            }
        }
    }

    &-search-col {
        min-width: 0;

        .nav-main {
            min-width: 0;

            .main-navigation {
                display: flex;
                width: 100%;

                .container {
                    overflow: hidden;
                }
            }
        }

        .header-logo-col {
            margin: 0;
            width: auto;
            flex-basis: auto;
            padding: 0 10px;
            display: none;
        }

        .header-logo-main {
            text-align: left;
        }
    }

    &-actions-btn,
    &-actions-col {
        .icon {
            color: $white;
        }
    }

    &-actions-btn {
        position: static;

        &:hover {
            .header-cart-badge,
            .header-wishlist-badge {
                background-color: $primary !important;
            }
        }
    }

    &-actions-col {
        .header-logo-col {
            width: auto;
            flex-basis: auto;
            margin: 0 auto 0 $spacer-sm;
            @include media-breakpoint-up(sm) {
                display: none;
            }
        }

        .header-cart-badge {
            right: -22px;
            color: $secondary;
        }

        .header-wishlist {
            position: relative;
        }

        .header-wishlist-badge {
            right: -14px;
            color: $secondary;
        }
    }

    &-cart {
        position: relative;
    }

    &-cart-btn {
        padding-right: 0;
    }

    &-logo-picture {
        max-width: 100px;
    }
}

.nav-main-toggle-btn {
    padding-left: 0;
}

.header-actions-btn {
    &,
    &:active,
    &:hover {
        border: $border-width solid transparent;
    }
}

@include media-breakpoint-up(sm) {
    .header-row {
        padding: $spacer 0;
    }

    .header-logo-col {
        padding-bottom: 0;
    }

    .header-cart-badge {
        display: inline;
    }

    .header-search-col {
        padding-right: 10px;

        .header-logo-col {
            display: block;
        }
    }

    .header-actions-col {
        padding-left: 0;
    }
}


@include media-breakpoint-up(md) {
    .header-search {
        max-width: 270px;
        min-width: 270px;
    }
}

@include media-breakpoint-up(lg) {
    .header-row {
        padding: $spacer-lg 0;

        .header-search-col,
        .nav-main {
            position: static;
        }
    }

    .header-search-col .header-logo-col {
        padding: 0 20px 0 0;
    }

    .header-logo-picture {
        max-width: 300px;
    }

    .nav-main-toggle-btn {
        padding-left: 20px;
    }
}
