$navigation-offcanvas-spacer: 20px;
$navigation-offcanvas-spacer-sm: 10px;
$navigation-offcanvas-spacer-lg: 60px;

.navigation-offcanvas {
    @extend .is-fullwidth;
    display: flex;
    flex-direction: column;

    .offcanvas-close {
        @extend .flex-row;
        background-color: $secondary;
        border: none;

        @include media-breakpoint-up(sm) {
            padding: $spacer-sm $navigation-offcanvas-spacer-lg;
        }

        &:hover {
            background-color: $secondary;
        }

        .icon {
            color: $white;
        }

        .header-logo-main {
            flex-grow: 1;
        }
    }

    .offcanvas-content-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: scroll;
    }

    &-hotline {
        a {
            color: $sw-text-color;
            text-decoration: underline;
        }
    }

    &-top-bar {
        background-color: $topbar-bg;

        @include media-breakpoint-up(sm) {
            max-width: none;
            padding: 0 $navigation-offcanvas-spacer-lg;
        }

        > .row {
            min-height: inherit;
        }
    }

    &-bottom-bar {
        position: fixed;
        bottom: 0;
        background-color: $white;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: $spacer;
            right: $spacer;
            border-top: 2px solid $border-color-bold;
        }
    }

    &-container {
        flex-grow: 1;
    }

    &-actions {
        .top-bar-nav-item {
            margin: 0;
            padding: 0 14px;
        }

        > *:first-child {
            padding-left: 0;
        }

        > *:last-child {
            padding-right: 0;
        }
    }

    .is-back-link {
        font-size: 20px;
        font-weight: $font-weight-semibold;
        border-bottom: 2px solid $gray-900;
        border-top: none;
        padding: $navigation-offcanvas-spacer $navigation-offcanvas-spacer-sm;

        @include media-breakpoint-up(sm) {
            font-size: 24px;
            padding: $spacer-lg $spacer;
        }

        .icon {
            margin-right: $navigation-offcanvas-spacer;
        }
    }

    .navigation-offcanvas-list {
        padding: $navigation-offcanvas-spacer 0;

        &-item {
            border: none;

            .navigation-offcanvas-link {
                padding: $navigation-offcanvas-spacer-sm 0;
                font-size: 16px;
                font-weight: $font-weight-semibold;
                color: $gray-700;

                @include media-breakpoint-up(sm) {
                    padding: 15px 0;
                }

                .icon svg {
                    right: -2px;
                }
            }

            .root-item {
                padding: $spacer 0;
                border-bottom: 2px solid $gray-900;
                font-size: 20px;
                font-weight: $font-weight-semibold;
                color: $gray-900;
            }
        }
    }

    .icon {
        color: $gray-900;
    }

    .navigation-offcanvas-overlay,
    .navigation-offcanvas-overlay-content,
    .navigation-offcanvas-placeholder {
        padding: 0 $spacer-lg;
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 70px;

        @include media-breakpoint-up(sm) {
            padding: 0 $navigation-offcanvas-spacer-lg;
        }
    }
}
