.scroll-up-button {
    .btn {
        @extend .btn-secondary;

        &:hover:not(:disabled) {
            background-color: $primary;
            color: $white;
            border-color: $primary;
        }
    }
}
