{# SwagCinemaTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/layout/navigation/offcanvas/back-link.html.twig' %}

{% block layout_navigation_offcanvas_navigation_category_back_link_text %}
    <span class="navigation-offcanvas-link-icon js-navigation-offcanvas-loading-icon">
        {% block layout_utilities_offcanvas_close_icon %}
            {% sw_icon 'ic-arrow-left' style {'pack': 'cinema'} %}
        {% endblock %}
    </span>

    <span itemprop="name">
        {{ item.translated.name|trans|sw_sanitize }}
    </span>
{% endblock %}
