{# SwagCinemaTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/element/cms-element-image-gallery.html.twig' %}

{% block element_image_gallery_inner_wrapper %}
    {% block element_image_gallery_inner_grid %}
        <div class="ci-gallery-desktop d-none d-lg-block" data-active="0">
            <div class="gallery-container">
                {% if imageCount > 0 %}
                    {% for image in mediaItems %}
                        <div class="gallery-item-container">
                            <div class="gallery-slider-item is-{{ displayMode }} js-magnifier-container"{% if minHeight and  (displayMode == "cover" or displayMode == "contain" ) %} style="min-height: {{ minHeight }}"{% endif %}>
                                {% set attributes = {
                                    'class': 'img-fluid gallery-slider-image magnifier-image js-magnifier-image',
                                    'alt': (image.translated.alt ?: fallbackImageTitle),
                                    'title': (image.translated.title ?: fallbackImageTitle),
                                    'data-full-image': image.url
                                } %}

                                {% if displayMode == 'cover' or displayMode == 'contain' %}
                                    {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
                                {% endif %}

                                {% if isProduct %}
                                    {% set attributes = attributes|merge({ 'itemprop': 'image' }) %}
                                {% endif %}

                                {% sw_thumbnails 'gallery-slider-image-thumbnails' with {
                                    media: image
                                } %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="gallery-item-container">
                        <div class="gallery-slider-item">
                            {% sw_icon 'placeholder' style {
                                'size': 'fluid'
                            } %}
                        </div>
                    </div>
                    <div class="gallery-item-container">
                        <div class="gallery-slider-item">
                            {% sw_icon 'placeholder' style {
                                'size': 'fluid'
                            } %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
    <div class="ci-gallery-mobile w-100 d-block d-lg-none">
        {{ parent() }}
    </div>
{% endblock %}

{% block element_image_gallery_slider_dots %}
    <div class="d-lg-none">
        {{ parent() }}
    </div>
{% endblock %}

{% block element_image_gallery_inner_thumbnails_col %}
{% endblock %}

