{% sw_extends '@Storefont/storefront/page/product-detail/configurator/select.html.twig' %}

{% block page_product_detail_configurator_group_select_title %}
    <div data-custom-select="true">
        {{ parent() }}
    </div>
{% endblock %}
