.address-editor-headline {
    margin-bottom: 35px;
    padding-bottom: 14px;
    border-bottom: 2px solid $sw-text-color;
}

.address-editor-select,
.address-editor-edit,
.address-editor-create {
    @extend .btn-outline-secondary;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;

    &:not(.collapsed) {
        @extend .btn-secondary;

        &:hover {
            color: $white;
        }
    }
}

.address-editor-modal {
    .js-field-toggle-contact-type-company .form-group {
        @extend .col-12, .col-sm-6;
        @if (not feature('V6_5_0_0')) {
            padding-right: $form-grid-gutter-width / 2;
            padding-left: $form-grid-gutter-width / 2;
        }
    }
}

@include media-breakpoint-down(sm) {
    .address-editor-modal {
        padding: 0 !important;
    }

    .address-editor-select,
    .address-editor-edit,
    .address-editor-create {
        margin-bottom: 8px;
    }
}
