.address-editor-card,
.address-editor-list-wrapper {
    .card-title {
        margin-bottom: 24px;
        border-bottom: 2px solid $gray-400;
        font-weight: 500;
    }

    .address {
        line-height: 26px;
    }
}

.address-editor-modal {
    .js-field-toggle-contact-type-company .form-group {
        @extend .col-12, .col-sm-6;
    }
}

.address-editor-title {
    margin-bottom: 32px;
    padding-bottom: 12px;
    border-bottom: 2px solid $sw-text-color;
    font-size: 36px;
}

@include media-breakpoint-down(sm) {
    .address-editor-modal {
        padding: 0 !important;
    }

    .address-editor-select,
    .address-editor-edit,
    .address-editor-create {
        margin-bottom: 8px;
    }
}
