/*
Alert
==============================================
Custom styling for bootstrap alert component.

https://getbootstrap.com/docs/4.3/components/alerts/
*/
.alert {
    padding: 0 $alert-padding-x;

    .alert-content-container {
        background-color: transparent;
        color: $custom-alert-text-color;
        display: flex;
        padding: $alert-padding-y $alert-padding-x;
    }

    &.alert-warning {
        .alert-content-container,
        .icon {
            color: $gray-900;
        }
    }
}

.flashbags:not(:empty) {
    margin-top: 30px;
}

@each $color, $value in $theme-colors {
    .alert-#{$color} {
        --#{$prefix}alert-color: #{$custom-alert-text-color};
        --#{$prefix}alert-bg: #{$value};
        --#{$prefix}alert-border-color: #{$value};
        --#{$prefix}alert-link-color: #{shade-color($custom-alert-text-color, 20%)};

        .alert-link {
            color: var(--#{$prefix}alert-link-color);
        }
    }
}

.swag-customized-products {
    .swag-customized-products__violation-list-holder {
        .alert .icon svg {
            top: 12px;
        }

        .alert-content-container {
            display: flex;
            flex-direction: column;
            padding: 1rem 0 1rem 8px;
        }

        .alert-heading {
            font-size: 1rem;
        }

        .entry__link {
            color: #fff;
        }
    }
}
