.swag-amazon-pay-wrapper {

    @include media-breakpoint-down(xs) {
        &.account-login {
            width: unset;
            margin-bottom: 0;
        }
    }

    &.account-login {
        margin-bottom: 0;
        width: calc(41.6% - 20px);
    }
}


