.breadcrumb {
    margin-bottom: 0;
    padding: 20px 0;

    // fix cms breadcrumb
    .breadcrumb {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.cms-breadcrumb {
        padding-left: 0;
        padding-right: 0;
    }

    .breadcrumb-placeholder {
        width: 1px;
        background-color: $sw-text-color;
        height: 14px;
        margin-top: auto;
        margin-bottom: auto;
    }

    a {
        &.is-active {
            color: $gray-400;
            font-weight: $font-weight-normal;
        }
    }

    &.container {
        background-color: $white;
        padding-left: 0;
        padding-right: 0;

        > nav {
            @extend .container;
        }
    }
}
