// Button
.btn {
    font-weight: $font-weight-medium;

    &-lg {
        font-weight: $btn-font-weight-lg;
    }
}

.btn-link {
    .icon {
        @include transition($btn-transition);
        color: $btn-link-icon-color;
    }

    &:hover {
        .icon {
            color: $btn-link-icon-hover-color;
        }
    }
}

button {
    .icon {
        color: $sw-text-color;
    }

    &:hover {
        .icon {
            color: $primary;
        }
    }
}

//
// Alternate buttons
//

// scss-docs-start btn-variant-loops
@each $color, $value in $theme-colors {
    .btn-#{$color}:hover:not(:disabled) {
        background-color: $value;
        border-color: $value;
    }
}

@each $color, $value in $theme-colors {
    @if ($color != 'danger') {
        .btn-outline-#{$color} {
            &:hover:not(:disabled) {
                color: $value;
                background-color: transparent;
                border-color: $value;

                .icon {
                    color: $value;
                }
            }

            &:focus {
                box-shadow: none;
            }
        }
    }
}

.btn-primary,
.btn-buy {
    @include disable-button($disabled-btn-primary-bg, $disabled-btn-color, $disabled-btn-primary-border-color);
}

.btn-secondary {
    @include disable-button($disabled-btn-secondary-bg, $disabled-btn-color, $disabled-btn-secondary-border-color);
}

.btn-outline-primary {
    @include disable-button($disabled-btn-outline-primary-bg, $disabled-btn-outline-primary-color, $disabled-btn-outline-primary-color);
}

.btn-outline-secondary {
    @include disable-button($disabled-btn-outline-secondary-bg, $disabled-btn-outline-secondary-color, $disabled-btn-outline-secondary-border-color);
}
