.cms-section {
    overflow: initial;

    .cms-section-sidebar-sidebar-content {
        padding-left: 0;
        padding-right: 0;
    }
}

.cms-block-product-listing {
    [data-swag-cms-extensions-quickview-box="true"] {
        height: 100%;
    }
}

@include media-breakpoint-down(md) {
    .cms-section-sidebar-main-content {
        padding-left: 0;
        padding-right: 0;
    }
}
