.cms-section {
    .cms-section-sidebar-sidebar-content {
        padding-left: 0;
        padding-right: 0;
    }

    .cms-block-container {
        // reset default inline padding
        padding-left: 0 !important;
    }

    .cms-block-product-listing {
        .cms-block-container {
            // reset default inline padding on the cms listing
            padding: 0 !important;
        }
    }
}

.cms-block-product-listing {
    [data-swag-cms-extensions-quickview-box="true"] {
        height: 100%;
    }
}
