.custom-switch {
    .custom-control-label::before {
        background-color: $sw-text-color;
        border-color: $sw-text-color;
        top: 2px;
    }

    .custom-control-label::after {
        background-color: $white;
        height: 10px;
        width: 10px;
        top: 5px;
        left: -35px;
    }

    .custom-control-input:checked ~ .custom-control-label {
        &::after {
            background-color: $custom-control-indicator-bg;
            transform: translateX(0.6rem);
        }
    }
}

.custom-select {
    font-weight: 400;
    background: url('#{$app-css-relative-asset-path}/icon-pack/cinema/ic-select-down.svg')no-repeat right 1rem center/22px 10px;
    background-position-y: 15px;

    &:focus {
        box-shadow: none;
    }
}

.input-group {
    >.form-control {
        &:not(:first-child) {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        &:focus {
            + .input-group-append {
                .btn {
                    background: $input-focus-border-color;
                    border-color: $input-focus-border-color;
                }
            }
        }
    }
}

.input-group-lg {
    >.form-control {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        + .input-group-append {
            .btn {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                .icon {
                    height: 20px;
                }
            }
        }
    }
}

textarea.form-control  {
    padding: 15px;
}
