.filter-property-select-preview {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-right: 8px;
}

.filter-property-select-preview-checkmark {
    width: 1rem;
    height: 1rem;
    left: -4px;
    background-color: $primary;
    border-radius: 4px;
    border: 0;
}
