.filter-multi-select {
    &-list-item {
        @include transition($btn-transition);
        padding: 8px 4px 8px 12px;

        &:not(.disabled):hover {
            background-color: $gray-200;
        }

        @if (feature('V6_5_0_0')) {
            .form-checkbox {
                flex-grow: 1;
            }
        } @else {
            .custom-checkbox {
                flex-grow: 1;
            }
        }
    }

    &-rating {
        .filter-multi-select-list {
            margin-top: 12px;
        }

        .filter-panel-item-toggle .icon {
            margin-left: 110px;
        }
    }

    &-item-label {
        padding-left: 4px;
        padding-right: 0;
        hyphens: auto;
    }

    &-list {
        margin-bottom: $spacer * 0.25;
        max-height: inherit;
        overflow-y: auto;
    }

    &-count {
        display: none;
    }
}

.is--sidebar {
    .filter-multi-select-dropdown {
        overflow-y: scroll !important;
    }

    .filter-multi-select-list {
        overflow: unset;
    }
}
