.filter-panel {
    //margin-top: $spacer;
    //margin-bottom: $spacer;
    padding: $spacer * 2 0;

    &.is--sidebar {
        svg {
            color: inherit;
        }

        .filter-panel-item-toggle[aria-expanded=true] {
            svg {
                transform: none;
                color: $secondary;
            }

            .icon {
                transform: rotate(180deg);
            }
        }
    }
}

.filter-panel-item {
    position: relative !important;
    margin: 0px;

    .filter-panel-item-toggle {
        @include text-truncate();

        border-width: $filter-panel-border-width;
        box-shadow: none;
        text-align: left;
        padding-right: 40px;
        width: 100%;
        display: flex;
        align-items: center;

        .icon {
            color: $secondary;
            margin-left: 25px;
            position: absolute;
            right: $spacer;
            width: $spacer;
            height: $spacer;
        }

        &:not(:disabled) {
            &:hover {
                color: $primary;
                border-color: $primary;
            }
        }

        &:disabled {
            background-color: $white;
            border-color: $gray-400;

            .icon {
                color: $gray-400;
            }
        }
    }

    &.filter-range {
        .filter-panel-item-toggle .icon {
            margin-left: 100px;
        }

        .filter-range-container {
            padding-top: 0;
            padding-left: 12px;
        }
    }

    &.show .filter-panel-item-toggle,
    &:not(.show) .filter-panel-item-toggle[aria-expanded=true] {
        &:not(:disabled) {
            @include border-bottom-radius(0);

            color: $secondary;
            border-color: $secondary;
            border-bottom-color: transparent;
        }

        + .filter-panel-item-dropdown {
            overflow: hidden;
            padding: 0;
        }
    }

    &.show .filter-panel-item-toggle {
        + .filter-panel-item-dropdown {
            @include border-bottom-radius(8px);
            @include border-top-radius(0px);

            border-top-color: transparent;
            margin: 0;
        }

        .icon {
            transform: rotate(180deg);
        }
    }
}

.is--sidebar .filter-panel-item-dropdown,
.filter-panel-item-dropdown {
    width: 100%;
    min-width: 0;
    top: -12px !important;
    padding-top: 0;
    border: $border-width solid $secondary;
    border-top: 0;
}

.filter-panel-items-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-bottom: $spacer * 2;
}

.filter-panel-active-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    //margin-bottom: $spacer * 2;

    .filter-reset-all {
        @include border-radius(8px);

        font-weight: $font-weight-medium;
        height: unset;
        padding: 6px 24px;
        line-height: 21px;
        margin-right: 0;
    }
}

.filter-active {
    @include border-radius(8px);

    border: none;
    background-color: $gray-900;
    color: #fdfdfd;
    padding: 8px 36px 8px 24px;
    height: unset;
    line-height: 21px;
    margin: 0;
    width: 100%;
    max-width: unset;

    &-preview {
        @include border-radius(50%);

        border: none;
        box-shadow: 0 0 0 2px $white;
        width: 18px;
        height: 18px;
    }
}

.filter-active-remove {
    top: -2px;
    right: 4px;
    color: $white;
    font-size: 24px;
    font-weight: $font-weight-normal;
}

.offcanvas-filter {
    .filter-panel-offcanvas-header {
        height: unset;
        display: block;
        padding: 0;
    }

    .filter-panel-offcanvas-close {
        padding: 12px 25px;
        background-color: $gray-50;
        border-bottom: 1px solid $border-color;
        font-weight: $font-weight-medium;

        .icon {
            margin-right: 12px;
            color: $gray-900;
            height: 20px;
        }
    }
}

.filter-panel-offcanvas-title {
    font-size: 36px;
    font-weight: $font-weight-semibold;
    line-height: 43px;
    padding: 32px 0px 24px 0px;
}

.filter-panel-wrapper-toggle {
    @include button-variant($primary, $primary);

    margin-bottom: $spacer;
    text-align: left;

    @include hover {
        color: $primary;
    }

    &.header-actions-btn {
        padding: 2px $spacer;
    }

    .icon {
        width: 18px;
        height: 18px;
    }
}

.is--sidebar {
    .filter-panel-item {
        margin-bottom: $spacer;
    }
}

@include media-breakpoint-up(md) {
    .filter-panel-offcanvas-header {
        padding-left: 0;
        padding-right: 0;
    }

    .filter-panel-active-container {
        flex-direction: row;
    }

    .filter-active {
        max-width: 245px;
        width: unset;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

@include media-breakpoint-up(lg) {
    .filter-panel:not(.is--sidebar) {
        position: relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: $gray-100;
            z-index: -1;
        }

        &:before {
            right: 0;
            left: -9999px;
        }

        &:after {
            left: 100%;
            right: -9999px;
        }
    }

    .filter-panel-items-container {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
}

@include media-breakpoint-down(md) {
    .filter-panel-offcanvas-title,
    .filter-panel-offcanvas-close-inner,
    .filter-panel-items-container,
    .filter-panel-active-container {
        max-width: 569px;
        margin-left: auto;
        margin-right: auto;
    }
}

@include media-breakpoint-down(sm) {
    .filter-panel-offcanvas-title {
        padding: 32px 25px 24px 25px;
    }
}
