$icon-star: url('#{$asset-path}/icon-pack/cinema/ic-star-bg.svg');
$icon-star-fill: url('#{$asset-path}/icon-pack/cinema/ic-star-fill-bg.svg');

.filter-panel {
    padding: $spacer * 2 0;
    margin-bottom: 0;

    &.is--sidebar {
        svg {
            color: inherit;
        }

        .filter-panel-item-toggle[aria-expanded=true] {
            svg {
                transform: none;
                color: $sw-text-color;
            }

            .icon {
                transform: rotate(180deg);
            }
        }
    }

    &:not(.is--sidebar) {
        .filter-panel-items-container {
            display: flex;
            gap: $spacer;
            margin-bottom: 0;

            > * {
                width: 100%;
            }
        }
    }
}

.filter-panel-item {
    position: relative !important;
    margin: 0;

    &-dropdown {
        background-color: $white;
    }

    .filter-panel-item-toggle {
        @include text-truncate();

        border-width: $filter-panel-border-width;
        box-shadow: none;
        text-align: left;
        padding-right: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: $white;

        .icon {
            color: $sw-text-color;
            margin-left: 25px;
            position: absolute;
            right: $spacer;
            width: $spacer;
            height: $spacer;
        }

        &:not(:disabled) {
            &:hover {
                color: $primary;
                border-color: $primary;
            }
        }

        &:disabled {
            background-color: $white;
            border-color: $gray-400;

            .icon {
                color: $gray-400;
            }
        }
    }

    &.filter-range {
        .filter-panel-item-toggle .icon {
            margin-left: 100px;
        }

        .filter-range-container {
            padding-left: 12px;
            padding-top: 0;
        }
    }

    &.filter-boolean {
        background-color: $white;
    }

    &.show .filter-panel-item-toggle,
    &:not(.show) .filter-panel-item-toggle[aria-expanded=true] {
        &:not(:disabled) {
            @include border-bottom-radius(0);

            color: $sw-text-color;
            border-color: $border-color-bold;
            border-bottom-color: transparent;
        }

        + .filter-panel-item-dropdown {
            overflow: hidden;
            padding: 0;
        }
    }

    &.show .filter-panel-item-toggle {
        + .filter-panel-item-dropdown[x-placement^='bottom'] {
            @include border-bottom-radius(8px);
            @include border-top-radius(0);

            border-top-color: transparent;
            margin: 0;
        }

        + .filter-panel-item-dropdown[x-placement^='top'] {
            border-top: $border-width solid $secondary;
        }

        .icon {
            transform: rotate(180deg);
        }
    }
}

.is--sidebar .filter-panel-item-dropdown,
.filter-panel-item-dropdown {
    width: 100%;
    min-width: 0;
    top: -12px !important;
    padding-top: 0;
    border: $border-width solid $border-color-bold;
    border-top: 0;
}

.filter-panel-active-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    margin-top: $spacer * 2;

    &:empty {
        display: none;
    }

    .filter-reset-all {
        @include border-radius(8px);

        font-weight: $font-weight-medium;
        height: unset;
        padding: 6px 24px;
        line-height: 21px;
        margin-right: 0;
    }
}

.filter-active {
    @include border-radius(8px);

    border: none;
    background-color: $gray-900;
    color: #fdfdfd;
    padding: 8px 36px 8px 24px;
    height: unset;
    line-height: 21px;
    margin: 0;
    width: 100%;
    max-width: unset;

    &-preview {
        @include border-radius(50%);

        border: none;
        box-shadow: 0 0 0 2px $white;
        width: 18px;
        height: 18px;
    }
}

.filter-active-remove {
    top: -2px;
    right: 4px;
    color: $white;
    font-size: 24px;
    font-weight: $font-weight-normal;
}

.offcanvas-filter {
    .filter-panel-offcanvas-header {
        height: unset;
        display: block;
        padding: 0;
    }

    .filter-panel-offcanvas-close {
        padding: 12px 25px;
        background-color: $gray-50;
        border-bottom: 1px solid $border-color;
        font-weight: $font-weight-medium;

        .icon {
            margin-right: 12px;
            color: $gray-900;
            height: 20px;
        }
    }

    .filter-panel {
        height: calc(100vh - 220px);
    }
}

.filter-panel-offcanvas-title {
    font-size: 36px;
    font-weight: $font-weight-semibold;
    line-height: 43px;
    padding: 32px 0 24px;
}

.btn.filter-panel-wrapper-toggle {
    @include button-variant($primary, $primary);
    text-align: left;

    &:hover {
        .icon {
            color: $white;
        }
    }

    &.header-actions-btn {
        padding: 2px $spacer;
    }

    .icon {
        width: 18px;
        height: 18px;
    }
}

.is--sidebar {
    .filter-panel-item {
        margin-bottom: $spacer;
    }
}

.filter-active-icon {
    width: 96px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 17px;
    font-size: 0;
    top: -2px;

    &:before {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 1;
        content: '';
        background: $icon-star;
        background-size: 17px;
        background-position: 0;
        background-repeat: space;
    }

    > span {
        display: inline-block;
        height: 17px;
        padding-right: 2px;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: $icon-star-fill;
            background-size: 17px;
            background-position: 0;
            background-repeat: space;
            display: block;
        }
    }
}

@include media-breakpoint-up(md) {
    .filter-panel-offcanvas-header {
        padding-left: 0;
        padding-right: 0;
    }

    .filter-panel-active-container {
        flex-direction: row;
    }

    .filter-active {
        max-width: 245px;
        width: unset;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .filter-panel {
        &:not(.is--sidebar) {
            .filter-panel-items-container {
                > * {
                    max-width: 224px;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .filter-panel:not(.is--sidebar) {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: $gray-100;
            z-index: -1;
            border-bottom: $border-width-sm solid $gray-400;
            width: 100vw;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@include media-breakpoint-down(md) {
    .filter-panel-offcanvas-title,
    .filter-panel-offcanvas-close-inner,
    .filter-panel-items-container,
    .filter-panel-active-container {
        max-width: 569px;
        margin-left: auto;
        margin-right: auto;
    }

    .offcanvas-filter {
        .filter-panel {
            padding-bottom: 160px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .filter-panel-offcanvas-title {
        padding: 32px 25px 24px;
    }
}
