.form-text {
    font-size: 14px;
}

.form-control:disabled {
    &:disabled,
    &[readonly] {
        + .input-group-append .btn {
            background-color: $input-disabled-bg;
            border-color: $gray-900;
            opacity: 1;
        }
    }
}
