.line-item {
    &-details {
        padding-top: 0;

        @include media-breakpoint-down(sm) {
            flex: 1 0 0;
        }

        &-container {
            padding-left: 0;
        }
    }

    &-info {
        @include make-col(11);

        padding-left: 0;

        @include media-breakpoint-up(sm) {
            @include make-col(5);
        }

        @include media-breakpoint-up(md) {
            @include make-col(5);
        }
    }

    &-unit-price,
    &-total-price,
    &-tax-price,
    &-quantity {
        @include media-breakpoint-up(sm) {
            display: unset;
            @include make-col(2);
        }
    }

    &-remove {
        @include make-col(1);

        &-button {
            border: none;
            padding: 0;

            svg {
                top: 0 !important;
            }
        }
    }

    &.is-default {
        @include media-breakpoint-up(sm) {
            .line-item-status,
            .line-item-info,
            .line-item-quantity,
            .line-item-unit-price,
            .line-item-total-price,
            .line-item-tax-price,
            .line-item-remove {
                order: 0;
            }
        }
    }

    &-children {
        .line-item-row {
            margin: 0;
        }
    }
}

.line-item-quantity-label,
.line-item-unit-price-label,
.line-item-total-price-label,
.line-item-tax-price-label {
    color: $sw-text-color;
}

.is-offcanvas {
    .line-item {
        &-details {
            padding-top: 0;
            width: unset;
            flex: 1;
        }

        &-quantity {
            @include make-col(6);

            padding-left: 78px;
            margin-bottom: 0;

            > * {
                margin-bottom: 0;
            }
        }

        &-quantity-select-wrapper {
            width: 100%;
            padding-right: 0;

            > * {
                width: 100%;
            }
        }

        &-total-price {
            @include make-col(6);
            justify-content: flex-end;
        }

        &-quantity-label,
        &-total-price-label {
            display: none;
        }

        &-info {
            @include make-col(11);
        }

        &-remove {
            @include make-col(1);

            &-button {
                border: none;
                padding: 0;

                svg {
                    top: 0;
                }
            }
        }
    }

    &.line-item {
        .product-wishlist {
            display: none;
        }
    }

    .line-item-children {
        &.nesting-level-1 {
            .line-item-quantity {
                padding-left: 54px;
            }
        }
    }

    .swag-customized-products__line-item-remove {
        order: 2;
    }

    .swag-customized-products__line-item-quantity {
        float: left;

        .line-item-quantity-label {
            display: none;
        }
    }

    .swag-customized-products__line-item-options-control-wrapper {
        justify-content: space-between;
    }
}

.line-item.is-order {
    margin: 0;

    .line-item {
        &-quantity-label,
        &-unit-price-label,
        &-tax-price-label {
            font-weight: 400;

            @include media-breakpoint-up(sm) {
                font-weight: 600;
            }
        }

        &-quantity-row {
            width: 100%;

            @include media-breakpoint-up(sm) {
                margin: 0;
                flex-direction: column;
            }
        }

        &-quantity,
        &-unit-price,
        &-total-price,
        &-status {
            padding-left: 80px;

            @include media-breakpoint-up(sm) {
                padding-left: 0;
            }
        }
    }

    .line-item-quantity-select-wrapper {
        .line-item-quantity {
            width: 100%;

            @include media-breakpoint-up(sm) {
                justify-content: center !important;
            }
        }
    }

    .line-item-info {
        @include make-col(12);

        padding-left: 0;

        @include media-breakpoint-up(sm) {
            @include make-col(6);
        }
    }

    @include media-breakpoint-down(sm) {
        .line-item {
            &-quantity {
                margin-bottom: 0;
            }

            &-quantity-row {
                margin: 0;
            }

            &-quantity-label {
                padding-left: 0;
            }
        }
    }
}

.swag-customized-products__line-item-quantity {
    .line-item-quantity-select-wrapper {
        .line-item-quantity {
            justify-content: center !important;
        }
    }
}

.swag-customized-products__line-item-remove {
    order: 2;

    @include media-breakpoint-up(sm) {
        order: 5;
    }
}

.swag-customized-products__line-item-option-element {
    line-height: 24px;
}

.swag-customized-products__line-item-options-control-wrapper {
    display: flex;
    align-items: center;

    .swag-customized-products__line-item-control-headline {
        font-size: 14px;
        color: #576674;
        font-weight: bold;
    }

    .icon-arrow-down {
        height: unset !important;
    }
}

:not(.cart-offcanvas) .swag-customized-products__line-item-quantity {
    color: $sw-text-color;
    font-weight: bold;
}

@include media-breakpoint-down(sm) {
    .line-item-unit-price,
    .line-item-total-price,
    .line-item-tax-price {
        justify-content: space-between !important;
    }

    .line-item-price {
        .line-item-unit-price-label,
        .line-item-total-price-label {
            display: block !important;
        }
    }

    .is-offcanvas {
        .line-item-price {
            .line-item-unit-price-label,
            .line-item-total-price-label {
                display: none !important;
            }
        }

        .line-item-unit-price,
        .line-item-total-price,
        .line-item-tax-price {
            justify-content: flex-end !important;
        }
    }
}

.line-item.has-line-item-status {
    @include media-breakpoint-up(sm) {
        .line-item-info {
            @include make-col(4);
        }

        .line-item-status,
        .line-item-quantity,
        .line-item-unit-price,
        .line-item-tax-price,
        .line-item-total-price {
            @include make-col(2);
        }
    }

    @include media-breakpoint-up(md) {
        .line-item-info {
            @include make-col(5);
        }

        .line-item-quantity,
        .line-item-unit-price,
        .line-item-tax-price {
            @include make-col(1.5);
        }
    }
}

.line-item-ordernumber {
    word-break: break-all;
}
