.offcanvas {
    @if (feature('V6_5_0_0')) {
        &-header {
            .sticky-top {
                width: 100%;
            }
        }
    }

    @include media-breakpoint-up(sm) {
        .offcanvas-content-container {
            min-width: 400px;
            width: auto;
        }
    }

    &.is-left {
        .offcanvas-close {
            &:hover {
                border-color: $border-color;
            }
        }
    }
}
