/*
Product box for wishlist
==============================================
Styling for productbox component.
*/

.product-wishlist {
    margin-top: 0;
    font-size: 14px;

    .icon-wishlist {
        width: 24px;
        height: 24px;

        svg {
            top: -2px;
        }
    }

    &-btn-content {
        text-decoration: none;
        margin-left: 8px;
    }

    &-action {
        align-items: center;
    }
}

.product-wishlist-btn-remove {
    position: relative;
    top: 0;
    right: 0;
    height: unset;
}

.product-wishlist-btn-remove,
.product-wishlist-action-circle {
    background: transparent;
}

.product-wishlist-action-circle {
    height: auto;
    width: auto;
    border-radius: unset;
    position: unset;
    padding: 0;
    font-size: 0;

    &::before {
        content: unset;
    }

    &.product-wishlist-added {
        .icon {
            color: $primary;
        }
    }
}

@include media-breakpoint-up(md) {
    .product-wishlist-btn-remove {
        right: -28px;
    }
}
