/*
Product box for wishlist
==============================================
Styling for productbox component.
*/

.product-wishlist {
    width: 24px;
    margin-top: 0;
    font-size: 0;

    .icon-wishlist {
        width: 24px;
        height: 24px;
    }

    &-btn-content {
        text-decoration: underline;

        &-md {
            margin-left: 0;
            font-size: 0;
        }

        &-sm {
            margin-left: 0;
            font-size: 0;
        }
    }
}

.product-wishlist-btn-remove {
    position: relative;
    top: -10px;
    right: 10px;
    height: unset;
}

.product-wishlist-btn-remove,
.product-wishlist-action-circle {
    background: transparent;
}

.product-wishlist-action-circle {
    height: auto;
    width: auto;
    border-radius: unset;
    position: unset;
    padding: 0;
    font-size: 0;

    &::before {
        content: unset;
    }

    &.product-wishlist-added {
        .icon {
            color: $primary;
        }
    }
}

@include media-breakpoint-up(md) {
    .product-wishlist-btn-remove {
        right: 0;
    }
}
