.swag-cms-extensions-quickview-modal {
    .gallery-slider-thumbnails-col {
        display: none !important;
    }

    .modal-content {
        @include border-radius(12px);

        overflow-y: auto;
    }
}

.swag-cms-extensions-quickview-close-button {
    top: 0 !important;

    button.close {
        opacity: 1;
        color: $black;
        border: none;
        background-color: transparent;
    }
}

.swag-cms-extensions-quickview {
    &-container {
        padding: 28px;
    }

    &-header {
        display: none;
    }

    &-content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        > div {
            background-color: $gray-100;
            border-radius: 14px;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 21px;
        }

        .gallery-slider-item {
            background: transparent;
        }

        .base-slider-controls-prev,
        .base-slider-controls-next {
            background-color: transparent;
            border: none;
        }
    }

    &-content {
        .product-wishlist {
            width: 48px;
        }

        .product-wishlist-action {
            width: 100%;
        }

        .base-slider {
            .base-slider-dots {
                .base-slider-dot,
                button {
                    width: 6px;
                    height: 6px;
                }
            }
        }

        .product-detail-configurator-option-image {
            z-index: unset;
        }

        .product-detail-price-container {
            width: unset;
        }

        // reset style was set in product detail page
        .product-detail-buy.col-lg-5 {
            @extend .col-lg-5;
        }
    }
}

#swag-cms-extensions-quickview-carousel {
    > .carousel-control-next {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    > .carousel-control-prev {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@include media-breakpoint-down(lg) {
    #swag-cms-extensions-quickview-carousel {
        .carousel-control-next,
        .carousel-control-prev {
            span.icon {
                width: 18px;
                height: 18px;
                color: $black;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .swag-cms-extensions-quickview {
        &-content {
            .btn-buy {
                margin-top: $spacer;
            }

            .product-detail {
                &-info {
                    padding-bottom: $spacer;
                }

                &-buy-quantity,
                &-reviews,
                &-delivery-information {
                    width: 100%;
                }

                &-reviews {
                    text-align: left;
                }

                &-quantity-select {
                    width: 100%;
                }

                &-buy-quantity {
                    margin-right: 0;
                }

                &-price-container {
                    width: 100%;
                }
            }

            .product-wishlist-action {
                margin-top: $spacer;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .swag-cms-extensions-quickview-modal {
        .modal-content {
            @include border-radius(16px);
        }
    }

    .swag-cms-extensions-quickview {
        &-content-left {
            > div {
                margin-bottom: 0;
            }
        }

    }
}
