.table {
    tr {
        background-color: $table-accent-bg;
        border-top: $table-border-width solid $table-border-color;
        border-bottom: $table-border-width solid $table-border-color;
    }
}

.table-striped {
    th {
        color: $table-caption-color;
        font-style: italic;
        text-transform: capitalize;
        font-weight: $font-weight-normal;
    }
}
