.table {
    @if (feature('V6_5_0_0')) {
        thead {
            tr {
                border: none;
                border-top: $border-width solid $table-border-color;
                border-bottom: $border-width solid $table-border-color;
            }
        }

        > :not(:first-child) {
            border: none;
            border-width: $border-width;
        }
    }

    tr {
        background-color: $table-accent-bg;
        @if (feature('V6_5_0_0')) {
            border-top: $border-width-sm solid $table-border-color;
            border-bottom: $border-width-sm solid $table-border-color;
        } @else {
            border-top: $table-border-width solid $table-border-color;
            border-bottom: $table-border-width solid $table-border-color;
        }
    }
}

.table-striped {
    th {
        color: $table-caption-color;
        font-style: italic;
        text-transform: capitalize;
        font-weight: $font-weight-normal;
    }
}
