{# @deprecated tag:v6.5.0 - Template `checkout-item.html.twig` is deprecated. Use `storefront/component/line-item/line-item.html.twig` instead. #}

{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_remove_submit %}
    <button type="submit"
            title="{{ "checkout.removeLineItem"|trans|striptags }}"
            data-product-id="{{ lineItem.id }}"
            class="btn btn-light btn-sm cart-item-remove-button">
        {% sw_icon 'ic-close' style {'pack' : 'cinema'} %}
    </button>
{% endblock %}

{% block page_product_detail_buy_quantity %}
    <div data-custom-select="true">
        {{ parent() }}
    </div>
{% endblock %}
