.swag-custommized-product-html-editor {
    border-radius: 8px;
    @if (feature('V6_5_0_0')) {
        border: $border-width solid $gray-600;
    } @else {
        border: $hr-border-width solid $gray-600;
    }

    &__toolbar {
        background: transparent;
        @if (feature('V6_5_0_0')) {
            border-bottom: $border-width solid $gray-600;
        } @else {
            border-bottom: $hr-border-width solid $gray-600;
        }
    }

    &__toolbar-button {
        background-color: transparent;
        padding: 10px 17px;
    }

    &__editor {
        padding: 9px 16px;
    }
}
