.customized-products-upload {
    &-files {
        margin-top: 15px;
    }

    &__dropzone {
        padding: 24px 17px 24px 27px;
        border: none;
        border-radius: 12px;
        background-color: $gray-100;

        &-row {
            align-items: center;
        }

        .icon {
            color: $secondary;
        }

        &-text-headline,
        &-text-restrictions {
            color: $secondary;
        }
    }

    &-files-element__container {
        margin: 0;
        padding: 12px 18px;
        border-radius: 11px;
        font-size: 11px;
        line-height: 14px;
    }

    &-files-element {
        margin-bottom: 16px;

        &.is--success > &__container {
            border-color: $primary;

            .customized-products-upload-files-element__container-icon > .icon {
                color: #758ca3;
                height: 16px;
                width: 16px;
            }
        }

        &.is--error > &__container {
            .customized-products-upload-files-element__container-icon > .icon {
                height: 14px;
                width: 14px;
            }
        }

    }

    &-files-element__container-icon {
        margin-right: 15px;

        .icon > svg {
            top: 2px;
        }
    }

    .btn {
        @extend .btn-secondary;
        min-width: 97px;
        white-space: unset;

        &:hover:not(:disabled) {
            color: $white;
        }
    }
}
