{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_content %}
    <div class="card-body">
        {% block component_product_box_top %}
            <div class="product-info-top">
                {{ block('component_product_box_badges') }}

                {% if config('core.cart.wishlistEnabled') %}
                    {% block component_product_box_wishlist_action_top %}
                        {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                            appearance: 'circle',
                            productId: id
                        } %}
                    {% endblock %}
                {% endif %}
            </div>
        {% endblock %}

        {{ block('component_product_box_info') }}

        {{ block('component_product_box_image') }}
    </div>
{% endblock %}

{% block component_product_box_rating %}
{% endblock %}

{% block component_product_box_variant_characteristics %}
{% endblock %}

{% block component_product_box_wishlist_action %}
{% endblock %}
