{# @deprecated tag:v6.5.0 - Template `order-detail-list-item-children.html.twig` is deprecated. Use `storefront/component/line-item/line-item.html.twig` instead. #}

{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail-list-item-children.html.twig' %}

{% block page_account_order_item_children_header_collapse_button_icon %}
    <div class="account-item-collapse-icon">
        {% sw_icon 'ic-arrow-down' style { 'pack':'cinema' } %}
    </div>
{% endblock %}

{% block page_account_order_item_child_total_price %}
    <div class="col-3 account-item-child-total-price">
        <span class="nesting-level-{{ nestingLevel }}">{{ nestedLineItem.price.totalPrice|currency }}{{ "general.star"|trans|sw_sanitize }}</span>
    </div>
{% endblock %}
