{# SwagCinemaTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bnavigation/_navigation-mainmenu.html.twig' %}

{% block b2b_base_topbar_navigation_menu %}
    <div class="container">
        {{ parent() }}
    </div>
{% endblock %}
