{# SwagCinemaTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/block/cms-block-gallery-buybox.html.twig' %}

{% block block_gallery_buybox_column_right_inner %}
    <h1 class="product-detail-name" itemprop="name">
        {{ element.data.product.translated.name }}
    </h1>

    {{ parent() }}
{% endblock %}
