{% sw_extends '@Storefront/storefront/component/listing/filter/filter-range.html.twig' %}

{% block component_filter_range_toggle_icon %}
    {% sw_icon 'ic-arrow-down' style {'pack' : 'cinema'} %}
{% endblock %}

{% block component_filter_range_toggle %}
    <button class="filter-panel-item-toggle btn"
            aria-expanded="false"
    {% if sidebar %}
        data-bs-toggle="collapse"
        data-bs-target="#{{ filterItemId }}"
    {% else %}
        data-bs-toggle="dropdown"
        data-boundary="viewport"
        data-bs-offset="0,0"
        data-bs-reference="parent"
        aria-haspopup="true"
        {% endif %}>

        {{ block('component_filter_range_display_name') }}

        {{ block('component_filter_range_toggle_icon') }}
    </button>
{% endblock %}
