.flatpickr-calendar {
    .flatpickr-current-month {
        font-size: 1rem;
        font-weight: $font-weight-semibold;
    }
}

span.flatpickr-day {
    color: #4a545b;
    font-size: 14px;
    border: none !important;

    &.selected {
        border: 2px solid $gray-900 !important;
        border-radius: 4px !important;
        background-color: transparent;
        color: $gray-900 !important;
    }
}

.flatpickr-input {
    &:focus {
        border-color: $gray-900;
    }
}

.input-group-append {
    &.flatpickr-icon {
        > .input-group-text {
            background-color: $gray-900;
        }

        .icon {
            color: $white;
        }
    }
}
