.b2b-listing {
    padding-top: 20px;

    @include media-breakpoint-up(lg) {
        padding-top: 44px;
    }

    h1 {
        font-size: calc(1.475rem + 2.7vw);
        line-height: 1.1;

        @include media-breakpoint-up(lg) {
            font-size: 3.5rem;
        }
    }
}
