.b2b--navigation {
    max-width: unset !important;

    .navigation--link {
        &:first-child {
            padding-left: 0;
        }
    }
}

.b2b--navigation-mainmenu {
    padding: 0 $grid-gutter-width / 2;
}
