.form-privacy-row {
    border-top: 1px solid $gray-400;
    padding-top: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.cms-form-submit-col {
    button[type="submit"] {
        @extend .btn-lg;
        float: none !important;
        display: block;
        width: 100%;
        max-width: 200px;
    }
}

.modal {
    .cms-form-submit-col {
        @include make-col(12);

        button[type="submit"] {
            max-width: unset;
        }
    }
}
