{% sw_extends '@Storefront/storefront/component/listing/filter-panel.html.twig' %}

{% block component_filter_panel_header %}
    <div class="filter-panel-offcanvas-header">
        <div class="filter-panel-offcanvas-only filter-panel-offcanvas-close js-offcanvas-close">
            <div class="filter-panel-offcanvas-close-inner">
                {% sw_icon 'ic-back' style {'pack': 'cinema'} %}
                {{ "general.back"|trans }}
            </div>
        </div>

        <div class="filter-panel-offcanvas-only filter-panel-offcanvas-title">{{ "listing.filterTitleText"|trans }}</div>
    </div>
{% endblock %}

{% block component_filter_panel_active_container %}
    {% apply spaceless %}
        {{ parent() }}
    {% endapply %}
{% endblock %}
