{% sw_extends '@Storefront/storefront/component/listing/filter-panel.html.twig' %}

{% block component_filter_panel_header %}
    <div class="filter-panel-offcanvas-header">
        <div class="filter-panel-offcanvas-only filter-panel-offcanvas-close js-offcanvas-close">
            <div class="filter-panel-offcanvas-close-inner">
                {% sw_icon 'ic-back' style {'pack': 'cinema'} %}
                {{ "general.back"|trans }}
            </div>
        </div>

        <div class="filter-panel-offcanvas-only filter-panel-offcanvas-title">{{ "listing.filterTitleText"|trans }}</div>
    </div>
{% endblock %}

{% block component_filter_panel_element %}
    {# hidden block filter-panel when filter empty #}
    <div class="filter-panel{% if sidebar %} is--sidebar{% endif %} {% if listing.total < 1 %}d-none{% endif %}">
        {% block component_filter_panel_items_container %}
            {% apply spaceless %}
                {{ parent() }}
            {% endapply %}
        {% endblock %}

        {% block component_filter_panel_active_container %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
