.account-address {
    .account-welcome {
        h1 {
            @extend .h2;
            line-height: normal;

            + p {
                margin-top: 5px;
                margin-bottom: 40px;
            }
        }
    }

    .address-item-body {
        .card-title {
            font-size: $font-size-lg;
            font-weight: $font-weight-medium;
        }
    }

    .address-action-create {
        margin-bottom: 30px;

        &:hover {
            border: none;
        }

        svg {
            top: 2px;
        }
    }

    .address-card {
        margin-bottom: 30px;

        &:not(:only-child) {
            &:nth-child(odd),
            &:nth-child(even) {
                padding-right: 0;
                padding-left: 0;
            }
        }

        .address {
            line-height: 28px;
        }
    }

    .address-actions {
        flex-direction: column;

        .icon {
            display: none;
        }

        > * {
            padding: 0 !important;
        }
    }

    .address-list {
        margin-bottom: 50px;

        .h3 {
            @extend .h5;
            color: $gray-700;
            padding-bottom: 15px;
            border-bottom: $border-width solid $border-color-bold;
            margin-bottom: 30px;
        }

        .card-title {
            font-size: 16px;
            font-weight: $font-weight-medium;
            border-bottom: $border-width-sm solid $border-color;
            padding-bottom: 6px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            p {
                margin: 0;
            }

            .card-actions {
                > .btn {
                    height: 36px;
                    width: 36px;
                    border-radius: 8px;
                    border-color: $border-color-bold;

                    /* stylelint-disable max-nesting-depth */
                    .icon {
                        margin-top: -2px;
                    }
                    /* stylelint-enable */
                }

                .btn .icon > svg {
                    top: 13px;
                    left: -2px;
                }

                .address-actions-buttons {
                    flex-direction: column;
                }

                .address-action-delete {
                    margin-left: 0;
                }

                .address-actions-defaults {
                    margin: 0;
                    padding: 0;
                }
            }

            .address-actions-buttons .btn-light,
            .btn-link {
                @extend .px-3, .py-2;
                border: none;
                width: 100%;
                color: $sw-text-color;
                background: none;
                cursor: pointer;
                text-align: left;
                font-weight: $font-weight-base;
                text-transform: capitalize;
                line-height: 18px;
                padding: 10px 14px;
                border-radius: 0;

                &:hover,
                &:focus,
                &:active {
                    background-color: $gray-200;
                    color: inherit;
                    text-decoration: none;
                    outline: none;
                }
            }
        }
    }

    .dropdown-menu {
        .icon {
            display: none;
        }

        .btn {
            --#{$prefix}btn-bg: transparent;
            --#{$prefix}btn-border-width: 0;
            --#{$prefix}btn-border-radius: 0;
            --#{$prefix}btn-padding-y: 10px;
            --#{$prefix}btn-padding-x: 14px;
            --#{$prefix}btn-line-height: 18px;
            width: 100%;
            text-align: left;
        }
    }

    @if feature('v6.6.0.0') {
        .default-address,
        .address-list {

            &.row,
            .row {
                --#{$prefix}gutter-x: 0;
            }

            .billing-address,
            .shipping-address {
                .h3 {
                    font-size: 14px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 0;
                    line-height: normal;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &.account-address-form {
            .form-group {
                max-width: 100%;
                flex-basis: 100%;
            }
        }
    }

    @include media-breakpoint-up(sm) {
        .account-welcome {
            h1 + p {
                margin-top: 28px;
                margin-bottom: 64px;
            }
        }

        .address-list {
            margin-bottom: 100px;
        }

        .address-card:not(:only-child) {
            &:nth-child(odd) {
                padding-right: 10px;
                margin-bottom: 16px;
                padding-left: 0;
            }

            &:nth-child(even) {
                padding-left: 10px;
                padding-right: 0;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .address-list {
            margin-bottom: 120px;
        }
    }
}

.is-ctl-address {
    .alert {
        margin-top: 50px;
    }
}
