{% sw_extends '@Storefront/storefront/layout/header/header-minimal.html.twig' %}

{% block layout_header_minimal_contact %}
{% endblock %}

{% block layout_header_minimal_button %}
    <div class="col-4 header-minimal-back-to-shop">
        <a href="{{ path('frontend.home.page') }}"
           class="btn btn-link header-minimal-back-to-shop-button"
           title="{{ "checkout.finishButtonBackToShop"|trans|striptags }}">
            {% sw_icon 'ic-back' style {'pack': 'cinema'} %}
            {{ "checkout.finishButtonBackToShop"|trans|striptags }}
        </a>
    </div>
{% endblock %}
