{# SwagCinemaTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-select-salutation.html.twig' %}

{% block cms_form_select_salutation_content %}
    <div class="form-group {{ additionalClass }}" data-custom-select="true">
        {{ block('cms_form_select_salutation_content_label') }}

        {{ block('cms_form_select_salutation_content_select') }}
    </div>
{% endblock %}
