{# @deprecated tag:v6.5.0 - Template `offcanvas-item-children.html.twig` is deprecated. Use `storefront/component/line-item/line-item.html.twig` instead. #}

{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-item-children.html.twig' %}

{% block component_offcanvas_item_children_header_collapse_button_icon %}
    <div class="cart-item-collapse-icon">
        {% sw_icon 'ic-arrow-down' style { 'pack':'cinema' } %}
    </div>
{% endblock %}

{% block page_checkout_item_child_total_price %}
    {% if lineItem.type == 'customized-products' %}
        <span class="nesting-level-{{ nestingLevel }}">{{ nestedLineItem|customized_product_price_tag }}</span>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
