{# SwagCinemaTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/line-item/element/remove.html.twig' %}

{% block component_line_item_remove_button %}
    <button type="submit"
            title="{{ "checkout.removeLineItem"|trans|striptags }}"
            data-product-id="{{ lineItem.id }}"
            class="btn btn-sm line-item-remove-button">
        {% sw_icon 'ic-close' style {'pack' : 'cinema'} %}
    </button>
{% endblock %}
