.is-ctl-product {
    .product-detail-ordernumber-container {
        display: none;
    }
}

.product-detail-content {
    margin-top: 26px;
}

.product-detail-form-container {
    margin-bottom: 36px;

    .custom-select {
        background: url('#{$app-css-relative-asset-path}/icon-pack/cinema/ic-arrow-down.svg') no-repeat right 20px center/15px $input-bg;
    }

    .form-row {
        &.justify-content-end {
            @extend .justify-content-start;
            margin: 0;

            .col-8 {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0;
            }
        }
    }
}

.product-block-prices-grid {
    thead,
    tr {
        background-color: transparent;
    }

    .product-block-prices-cell {
        padding: 16px 0;
        line-height: 16px;
        font-weight: $font-weight-medium;

        @include media-breakpoint-up(sm) {
            &:nth-child(1) {
                width: 170px;
            }

            &:nth-child(3) {
                width: 250px;
            }
        }

        @include media-breakpoint-up(lg) {
            &:nth-child(1) {
                width: 120px;
            }

            &:nth-child(3) {
                width: 134px;
            }
        }

        &:nth-child(1) {
            width: 86px;
        }

        &:nth-child(3) {
            width: 131px;
        }

        &:nth-child(2) {
            padding-right: 16px;
        }
    }

    .product-block-prices-head {
        .product-block-prices-row {
            border-color: $border-color-bold;
        }
    }

    .product-block-prices-body {
        .product-block-prices-cell {
            padding-bottom: 0;
            height: 57px;
        }
    }
}

.product-detail-price {
    @include font-size(20);
    line-height: 26px;

    &.with-list-price {
        color: $sw-text-color;
        display: inline-block;
        margin-right: 10px;
    }

    &.with-advanced-list-price {
        color: $sw-text-color;
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        vertical-align: middle;
        padding-right: 5px;
    }
}

.product-detail-price-container {
    margin-top: 32px;
    width: calc(100% - 202px);

    &.product-detail-price-table {
        width: 100%;

        + .product-detail-tax-container {
            .product-detail-tax {
                margin-top: 0;
            }
        }
    }

    .list-price-badge,
    .list-price-percentage {
        display: none;
    }
}

.product-detail-advanced-list-price-wrapper {
    color: $gray-600;
    line-height: 16px;
    font-size: 11px;
    padding-left: 0;
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;

    .list-price-percentage {
        display: none;
    }
}

.product-detail {
    &-list-price-wrapper {
        font-weight: $font-weight-medium;
        font-size: $font-size-lg;
        height: auto;
        line-height: 20px;
        vertical-align: middle;
        margin-top: 4px;

        @include media-breakpoint-down(md) {
            height: auto;
        }
    }
}

.product-detail-price-unit,
.product-detail-tax {
    font-size: 11px;
    color: $gray-600;
    line-height: 16px;
}

.product-detail-tax-link {
    color: $gray-600;
    text-decoration: underline;

    &:hover {
        color: $primary;
    }
}

.product-detail-delivery-information {
    width: 50%;
    margin-bottom: 0;
}

.delivery-information {
    font-weight: $font-weight-medium;
    font-style: italic;
    line-height: 20px;

    .delivery-status-indicator {
        display: none;
    }
}

.product-detail-name {
    line-height: 43px;
    font-weight: $font-weight-bold;
    font-size: 34px;
    margin-bottom: 12px;

    @include media-breakpoint-up(md) {
        font-size: 44px;
        line-height: 48px;
    }
}

.cms-block-gallery-buybox {
    > .cms-block-container {
        padding-top: 0;
    }

    .product-detail-buy {
        margin-top: 1rem;
    }
}

.product-detail-headline {
    margin-bottom: 0;
}

.product-detail-manufacturer {
    display: none;
}

.product-detail-reviews-link {
    letter-spacing: -1px;
    color: $sw-text-color;
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
    font-size: $font-size-base;

    &::before,
    &::after {
        display: inline-block;
    }

    &::before {
        content: '(';
    }

    &::after {
        content: ')';
    }
}

.product-detail-reviews,
.product-review-point {
    .icon {
        width: 20px;
        height: 20px;

        svg {
            top: 0;
            transform: scale(1.2);
        }
    }
}

.product-detail-reviews {
    font-size: 0;
    padding-top: 3px;
    text-align: right;
    width: 50%;
}

.product-review-rating {
    margin-right: 13px;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}

.product-review-point {
    margin-right: 4px;
}

.point-partial-placeholder {
    .icon {
        color: $sw-text-color;
    }
}

.product-detail-info {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 55px;

    @include media-breakpoint-up(md) {
        padding-bottom: 39px;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: 66px;
    }
}

.product-detail-quantity-select {
    line-height: 20px;
    padding: 12px 42px 12px 16px;
    border-color: $border-color-bold;
    border-radius: 11px;
    width: 170px;
    font-weight: $font-weight-medium;
    height: 48px;
    text-align: left;
}

.product-detail-quantity-dropdown {
    max-height: 200px;
    border-top: none;
    overflow: hidden;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 170px;
}

.js-magnifier-zoom-image-container {
    position: relative;
}

[class*='product-detail-buy'] {
    .product-wishlist {
        width: 48px;
    }

    .product-wishlibuy-widget-containerst-btn-content-md {
        display: none;
    }
}

.btn-buy,
.product-wishlist-action {
    margin-top: 48px;
}

.product-wishlist-action {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $border-width solid $primary;
    border-radius: 11px;

    .icon {
        color: $primary;
    }
}

.btn-buy {
    .icon {
        margin-right: 16px;
    }

    &:hover {
        .icon {
            color: inherit;
        }
    }
}

.buy-widget-container {
    > .col-8 {
        flex: 0 0 calc(100% - 60px);
        max-width: calc(100% - 60px);
    }
}

.product-detail-buy-button {
    display: flex;
    gap: 12px;
    margin-top: 48px;
}

.product-detail-quantity-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-detail-tax-container,
.product-detail-price-unit {
    width: 100%;
}

.product-detail-buy-quantity {
    margin-right: 32px;

    label {
        display: block;
    }
}

.product-detail-tax {
    margin-bottom: 0;
    margin-top: 8px;
}

.product-detail-configurator-container {
    margin-top: 48px;
    width: 100%;
}

.product-detail-media {

    @include media-breakpoint-up(xl) {
        padding-right: 0;
    }

    &.col-lg-7 {
        @extend .col-lg-8;
    }

    &.grid {
        .base-slider-dots {
            @extend .d-lg-none;
        }

        .gallery-slider-thumbnails-col {
            @extend .d-none;
        }
    }
}

.product-detail-buy {

    @include media-breakpoint-up(xl) {
        padding-left: 90px;
    }

    &.col-lg-5 {
        @extend .col-lg-4;
    }

    .product-detail-review-content {
        > [class*='col'] {
            @extend .col-12;
        }
    }
}

.cms-element-product-description-reviews .product-detail-review-content {
    > .col-sm-4 {
        @extend .col-12;
        @extend .col-lg-4;
    }
}

[data-swag-paypal-express-button].is-disabled {
    &::after {
        left: 0;
        width: 100%;
    }
}

@include media-breakpoint-up(lg) {
    .ci-gallery-desktop {
        .gallery-container {
            display: flex;
            flex-wrap: wrap;
        }

        .gallery-item-container {
            width: calc(50% - 10px);
            margin-right: 20px;
            margin-bottom: 20px;
            background-color: $gray-100;
            border-radius: 16px;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }

        .gallery-slider-item {
            width: 100%;
            padding-bottom: 138%;
            position: relative;
        }
    }
}

.product-detail-description-title {
    line-height: 21px;
    font-size: $font-size-base;
    margin-bottom: 42px;
}

.product-detail-properties-container {
    .col-lg-6 {
        @extend .col-md-12;
        @extend .col-lg-12;
    }
}

// breadcrumb
.product-detail-breadcrumb {
    display: flex;
    align-items: flex-start;
    background-color: $white;

    > nav,
    .cms-breadcrumb {
        width: calc(100% - 115px);
        margin-left: auto;
    }

    > nav {
        padding: 0;
    }

    .breadcrumb {
        justify-content: flex-end;
    }
}

.product-detail-button-back {
    width: 70px;
    margin-right: 45px;
    padding-top: 0;
    line-height: 4.3;
    color: $secondary;
    text-transform: lowercase;
    font-weight: $font-weight-medium;
    cursor: pointer;
    display: none;

    .product-detail-breadcrumb.container & {
        padding-top: 0;
    }

    .icon {
        color: $secondary;
        margin-right: 10px;

        svg {
            top: 6px;
        }
    }
}

#swag-amazon-pay-product-detail-wrapper {
    > div.col-8 {
        @include make-col(12);

        margin-right: auto;
    }
}

.swag-cms-extensions-quickview-detail-page-button {
    border-color: $primary;
    color: $primary;
    background-color: transparent;

    .icon {
        color: $primary;
    }
}

@include media-breakpoint-up(md) {
    .product-detail-breadcrumb {
        .breadcrumb {
            justify-content: flex-start;
        }

        nav,
        .cms-breadcrumb {
            margin-left: 0;
        }
    }

    .btn-buy,
    .swag-cms-extensions-quickview-detail-page-button {
        text-align: left;
        padding-left: 32px;
    }

    .swag-cms-extensions-quickview-detail-page-button {
        .icon {
            margin-right: $spacer;
        }
    }
}

@include media-breakpoint-up(lg) {
    .cms-block-product-heading {
        margin-top: 64px;
        margin-bottom: 64px;
    }
}
