.is-ctl-checkout,
.is-act-editorder,
.is-act-checkoutregisterpage {
    .container-main,
    .checkout {
        padding: 0;
    }

    .checkout-container {
        margin: 0;
    }

    .checkout-main {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            background-color: $sw-background-color;
            z-index: -1;
            width: 75vw;
            height: 100%;
            border-right: $checkout-divider-line;

            @include media-breakpoint-down(md) {
                content: none;
            }
        }
    }

    .checkout {
        .checkout-container {
            .checkout-aside {
                @extend .offset-md-0;
                @extend .col-md-12;
                @extend .col-lg-4;

                @include media-breakpoint-up(lg) {
                    padding-left: $checkout-spacing-lg;
                }

                .checkout-additional {
                    @extend .col-sm-12;
                    @extend .offset-lg-0;
                    @extend .col-lg-12;
                    padding: 0;
                    margin-top: 0;
                    margin-bottom: 40px;
                }

                .card-title {
                    color: $gray-700;
                    font-size: $h5-font-size;
                    border-bottom: $border-width solid $border-color-bold;
                    margin-bottom: 15px;
                    padding-bottom: 13px;
                    line-height: 34px;
                }

                #customerComment {
                    height: 125px;
                }
            }
        }

        .checkout-aside {
            padding: $checkout-spacing-lg 0 $checkout-spacing-lg $checkout-spacing-lg;

            @include media-breakpoint-only(md) {
                &::after {
                    left: calc(-1 * (100vw - 720px) / 2);
                }
            }

            @include media-breakpoint-up(lg) {
                &::after {
                    position: fixed !important;
                    border-top: none;
                }

                &-product-list {
                    padding: 10px 0;
                }

                &-item {
                    padding: 20px 0;
                }
            }

            &-summary,
            &-products {
                padding: 0;
            }

            &-summary-list {
                margin-bottom: 35px;
                padding-top: 20px;
            }

            &-summary-total {
                margin-bottom: 0;
                margin-top: 12px;
                padding: 15px 0;
                border-bottom: $checkout-divider-line;
                border-top: $checkout-divider-line;
                font-size: 20px;
                font-weight: $font-weight-medium;
            }

            &-item-link-quantity {
                font-size: 11px;
            }

            .checkout-aside-summary-header,
            .checkout-aside-product-header {
                font-size: $h5-font-size;
                line-height: 34px;
                padding-bottom: 15px;
                border-bottom: $border-width solid $border-color-bold;
                margin-bottom: 0;
                color: $gray-700;
            }

            .summary-net,
            .summary-tax {
                font-size: 11px;
            }

            .checkout-aside-add-code {
                @extend .input-group-lg;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                background-color: $gray-100;
                z-index: -2;
                width: 100vw;
                height: 100%;
                border-top: $checkout-divider-line;
            }
        }
    }
}
