.is-act-editorder,
.is-act-confirmpage {
    .checkout-main {
        @extend .col-lg-8;
        @extend .m-lg-0;
        @extend .pe-lg-5;
        padding: $checkout-spacing-sm $checkout-spacing-sm $checkout-spacing-md;
        margin-left: 0 !important;

        @include media-breakpoint-up(md) {
            padding-top: $checkout-spacing-md;
        }

        .confirm-main-header {
            font-size: $h5-font-size;
            line-height: 34px;
            padding-bottom: 15px;
            border-bottom: $border-width solid $border-color-bold;
            margin-bottom: 0;
            color: $gray-700;
        }

        .card-title {
            font-size: $font-size-lg;
            font-weight: $font-weight-medium;
            margin-bottom: 18px;
            padding-bottom: 10px;
        }

        .confirm-card-title {
            display: flex;
            justify-content: space-between;

            .card-actions {
                font-size: $font-size-base;
            }
        }

        .payment-method-description,
        .shipping-method-description {
            strong {
                font-weight: $font-weight-base;
            }

            p {
                margin-bottom: 0;
            }
        }

        .confirm-address {
            margin-top: $checkout-spacing-md;
        }

        .confirm-product {
            border-top: $border-width solid $border-color-bold;

            @include media-breakpoint-up(md) {
                border-top: none;
            }

            .card-title {
                border-bottom: $border-width solid $border-color-bold;
            }

            .cart-item-product {
                padding: 35px 0;
            }

            .cart-item:last-child {
                border-bottom: none;
            }
        }

        .confirm-checkout-collapse-trigger {
            svg {
                top: 5px;
            }
        }
    }

    .checkout {
        .checkout-container {
            .checkout-aside {
                .checkout-aside-summary-list {
                    margin-bottom: $checkout-spacing-sm;
                    padding-bottom: 10px;
                    border-bottom: 1px solid $table-border-color;
                }

                .checkout-aside-action:is(:first-child) {
                    margin-top: 0;
                }

                #confirmFormSubmit {
                    margin-top: 50px;
                }
            }
        }
    }
}

.is-act-editorder {
    .checkout-main {
        .cart-item-unit-price,
        .cart-item-total-price {
            line-height: 1;
        }
    }
}

.is-act-confirmpage {
    .swag-customized-products__line-item-collapse-unit-price {
        .swag-customized-products__line-item-option-sub-element {
            text-align: right;
        }
    }
}
