$checkout-spacing-sm: 20px;
$checkout-spacing-md: 40px;
$checkout-spacing-lg: 70px;
$checkout-divider-line: 1px solid $table-border-color;

.is-act-checkoutregisterpage {
    .container-main,
    .checkout {
        &-main {
            @extend .pe-lg-5;
            padding: $checkout-spacing-md 20px 150px;
        }
    }

    .address-main-header {
        font-size: $h5-font-size;
        line-height: 34px;
        padding-bottom: 15px;
        border-bottom: $border-width solid $border-color-bold;
        margin-bottom: 0;
        color: $gray-700;
    }

    .register-card {
        border-top: $checkout-divider-line;
        border-radius: 0;
        padding-top: $checkout-spacing-sm;
        margin-top: $checkout-spacing-sm;

        @include media-breakpoint-up(lg) {
            padding-top: $checkout-spacing-md;
            margin-top: $checkout-spacing-md;
        }

        .card-title {
            border: none;
        }
    }

    .register-address {
        border-bottom: $checkout-divider-line;
        padding-bottom: $checkout-spacing-sm;
        margin-bottom: $spacer-md;

        @include media-breakpoint-up(lg) {
            padding-bottom: $checkout-spacing-md;
            margin-bottom: $spacer-lg;
        }

        .register-billing {
            .card-title {
                display: none;
            }
        }

        .register-different-shipping {
            margin-bottom: 0;
        }
    }

    .register-login-header {
        padding-top: 25px;

        @include media-breakpoint-up(lg) {
            padding-top: $checkout-spacing-md;
        }
    }

    .swag-amazon-pay-card {
        padding-top: 25px;
    }

    .checkout-aside {
        @extend .offset-lg-0;
        background-color: $gray-100;
        border-left: $checkout-divider-line;
    }

    .register-submit {
        text-align: left;

        button {
            width: 100%;

            @include media-breakpoint-up(lg) {
                width: 50%;
            }
        }
    }

    .checkout-aside-item {
        @extend .g-0;

        .checkout-aside-item-data {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .checkout-aside-item-link-price {
                font-size: $font-size-lg;
                font-weight: $font-weight-medium;
                text-align: right;
                line-height: 1.5;
            }
        }
    }
}
